<a href="https://colab.research.google.com/github/RJGiannini/nft-project-group8/blob/main/collection_sales_data10_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import requests
import json
from pprint import pprint

In [2]:
# Upload collections_list.xlsx to Colab
from google.colab import files

csv_file = files.upload()

Saving collections_list.xlsx to collections_list (5).xlsx

In [3]:
# Read the collections_list.xlsx file from the Resources folder into a Pandas DataFrame
collections_df = pd.read_excel("collections_list.xlsx")

# Review the DataFrame
collections_df

                             Name
0                       0N1 Force
1                888 inner circle
2                       Anonymice
3                        Ape Gang
4              Art Blocks Curated
..                            ...
95                   Winter Bears
96  Woodies Generative Characters
97                 World of Women
98                        ZED RUN
99                    ZombieToadz

[100 rows x 1 columns]

In [4]:
#collection_list
collection_list = [x for x in collections_df['Name']]

In [5]:
#collection_list_two
collection_list_two = []
for i in collection_list:
  collection_list_two.append(i.replace(" ", "-"))

In [6]:
#collection_list_three
collection_list_three = []
for i in collection_list_two:
  collection_list_three.append(i.lower())

In [7]:
df = pd.DataFrame()
for collection in collection_list_three:
  
  url = "https://api.opensea.io/api/v1/assets?order_by=sale_count&order_direction=desc&offset=0&limit=50&collection=" + collection

  JSONContent = requests.get(url).json()

  content = json.dumps(JSONContent, indent = 2, sort_keys=True)

  JSONContent.keys()

  #assets = JSONContent["assets"]

  df = df.append(JSONContent["assets"])

In [8]:
#df

In [9]:
collection_df = df['collection'].apply(pd.Series)
#collection_df

In [10]:
collection_name = collection_df["name"].apply(pd.Series)
collection_name.columns = ['Collection Name']
#collection_name

In [11]:
last_sale_df = df['last_sale'].apply(pd.Series)
#last_sale_df

In [12]:
total_price = last_sale_df['total_price'].apply(pd.Series)
total_price.columns = ['Last Sale Price ETH']
total_price = total_price.astype(float)* 0.000000000000000001
total_price

    Last Sale Price ETH
0                 1.740
1                 2.750
2                 2.200
3                 2.250
4                 1.840
..                  ...
46                1.000
47                0.333
48                0.450
49                0.190
0                 0.070

[2915 rows x 1 columns]

In [13]:
payment_token_df = last_sale_df['payment_token'].apply(pd.Series)
#payment_token_df

In [14]:
#decimals = payment_token_df['decimals'].apply(pd.Series)
#decimals.columns = ['Decimal Scale']
#decimals

In [15]:
eth_price = payment_token_df['eth_price'].apply(pd.Series)
eth_price.columns = ['USD TO ETH']
eth_price.astype(float)

    USD TO ETH
0          1.0
1          1.0
2          1.0
3          1.0
4          1.0
..         ...
46         1.0
47         1.0
48         1.0
49         1.0
0          1.0

[2915 rows x 1 columns]

In [16]:
usd_price = payment_token_df['usd_price'].apply(pd.Series)
usd_price.columns = ['ETH TO USD']
usd_price.astype(float)

    ETH TO USD
0      3523.82
1      3523.82
2      3521.18
3      3523.82
4      3523.82
..         ...
46     3523.82
47     3523.82
48     3523.82
49     3523.82
0      3521.18

[2915 rows x 1 columns]

In [17]:
X = df[['name', 'id', 'token_id', 'num_sales']].copy()
X.columns = ['Asset Name', 'Asset ID', 'Token ID', 'Number of Sales']

In [18]:
#X = pd.concat([X, collection_name, total_price, eth_price, usd_price], axis = 1)
X = pd.concat([X, collection_name, total_price], axis = 1)

In [19]:
X

       Asset Name  Asset ID  ... Collection Name  Last Sale Price ETH
0       0N1 #6911  38109417  ...       0N1 Force                1.740
1       0N1 #3338  38105661  ...       0N1 Force                2.750
2       0N1 #2181  38104277  ...       0N1 Force                2.200
3       0N1 #1601  37768360  ...       0N1 Force                2.250
4       0N1 #4796  38107072  ...       0N1 Force                1.840
..            ...       ...  ...             ...                  ...
46   Miss Thought   3409840  ...         Zed Run                1.000
47  Sussex Muster   3404105  ...         Zed Run                0.333
48      Pyro Hero   3307434  ...         Zed Run                0.450
49        Tornado  14462054  ...         Zed Run                0.190
0              #4  60149140  ...     ZombieToadz                0.070

[2915 rows x 6 columns]

In [24]:
#X["total_price_usd"] = X["Last Sale Price ETH"] * X["ETH TO USD"]
#X["total_price_usd"]

TypeError: ignored

In [33]:
#X["ETH TO USD"]

0     3534.130000000000109000
1     3534.130000000000109000
2     3534.130000000000109000
3     3538.530000000000200000
4     3534.130000000000109000
               ...
46    3534.130000000000109000
47    3534.130000000000109000
48    3534.130000000000109000
49    3534.130000000000109000
0     3538.530000000000200000
Name: ETH TO USD, Length: 2915, dtype: object

In [38]:
#X['LSP'] = X['Last Sale Price'].astype(float)
X

       Asset Name  Asset ID  ...               ETH TO USD           LSP
0       0N1 #6911  38109417  ...  3516.420000000000073000  1.740000e+18
1       0N1 #3338  38105661  ...  3516.420000000000073000  2.750000e+18
2       0N1 #1601  37768360  ...  3516.420000000000073000  2.250000e+18
3       0N1 #2181  38104277  ...  3509.000000000000000000  2.200000e+18
4       0N1 #7012  38109401  ...  3516.420000000000073000  3.450000e+18
..            ...       ...  ...                      ...           ...
46   Miss Thought   3409840  ...  3516.420000000000073000  1.000000e+18
47  Sussex Muster   3404105  ...  3516.420000000000073000  3.330000e+17
48      Pyro Hero   3307434  ...  3516.420000000000073000  4.500000e+17
49        Tornado  14462054  ...  3516.420000000000073000  1.900000e+17
0              #4  60149140  ...  3509.000000000000000000  7.000000e+16

[2915 rows x 10 columns]

In [ ]:
X['LSP'] = X['Last Sale Price'].astype(float)
X

In [21]:
X.dtypes(X)

TypeError: ignored