<a href="https://colab.research.google.com/github/RJGiannini/nft-project-group8/blob/main/collection_data10_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import requests
import json
from pprint import pprint

In [2]:
# Upload collections_list.xlsx to Colab
from google.colab import files

csv_file = files.upload()

Saving collections_list.xlsx to collections_list.xlsx

In [3]:
# Read the collections_list.xlsx file from the Resources folder into a Pandas DataFrame
collections_df = pd.read_excel("collections_list.xlsx")

# Review the DataFrame
#collections_df

In [4]:
#collection_list
collection_list = [x for x in collections_df['Name']]

In [5]:
#collection_list_two
collection_list_two = []
for i in collection_list:
  collection_list_two.append(i.replace(" ", "-"))

In [6]:
#collection_list_three
collection_list_three = []
for i in collection_list_two:
  collection_list_three.append(i.lower())

In [7]:
df = pd.DataFrame()
for collection in collection_list_three:
  
  url = "https://api.opensea.io/api/v1/assets?order_by=sale_count&order_direction=desc&offset=0&limit=50&collection=" + collection

  JSONContent = requests.get(url).json()

  content = json.dumps(JSONContent, indent = 2, sort_keys=True)

  JSONContent.keys()

  df = df.append(JSONContent["assets"])

In [8]:
#df

In [9]:
collection_df = df['collection'].apply(pd.Series)
#collection_df

In [10]:
#Collection Name
collection_name = collection_df["name"].apply(pd.Series)
collection_name.columns = ['Collection Name']
#collection_name

In [11]:
last_sale_df = df['last_sale'].apply(pd.Series)
#last_sale_df

In [12]:
#Last Sale Price in ETH
total_price = last_sale_df['total_price'].apply(pd.Series)
total_price.columns = ['Last Sale Price ETH']
total_price = total_price.astype(float)* 0.000000000000000001
#total_price

In [13]:
#payment_token_df = last_sale_df['payment_token'].apply(pd.Series)
#payment_token_df

In [14]:
#Current ETH TO USD price
#usd_price = payment_token_df['usd_price'].apply(pd.Series)
#usd_price.columns = ['ETH TO USD']
#usd_price = usd_price.astype(float)

In [15]:
background_color = df['background_color']
#background_color

In [103]:
#Creates New Columns and Lists Asset Traits
traits = df['traits'].apply(pd.Series)
traits.columns = ['Trait1', 'Trait2', 'Trait3', 'Trait4',
                  'Trait5', 'Trait6', 'Trait7', 'Trait8',
                  'Trait9', 'Trait10', 'Trait11', 'Trait12',
                  'Trait13', 'Trait14', 'Trait15', 'Trait16',
                  'Trait17', 'Trait18', 'Trait19']

In [104]:
#Replaces NaN values with 0 and Trait Values with 1
traits[['Trait1', 'Trait2', 'Trait3', 'Trait4',
                  'Trait5', 'Trait6', 'Trait7', 'Trait8',
                  'Trait9', 'Trait10', 'Trait11', 'Trait12',
                  'Trait13', 'Trait14', 'Trait15', 'Trait16',
                  'Trait17', 'Trait18', 'Trait19']] = traits[['Trait1', 'Trait2', 'Trait3', 'Trait4',
                  'Trait5', 'Trait6', 'Trait7', 'Trait8',
                  'Trait9', 'Trait10', 'Trait11', 'Trait12',
                  'Trait13', 'Trait14', 'Trait15', 'Trait16',
                  'Trait17', 'Trait18', 'Trait19']].applymap(lambda x: 0 if pd.isnull(x) else 1)

In [105]:
#Calculates Sum of traits
total_traits = traits.apply(lambda row: row.Trait1 + row.Trait2 + row.Trait3
                            + row.Trait4 +row.Trait5 + row.Trait6 + row.Trait7
                            + row.Trait8 + row.Trait9 + row.Trait10 + row.Trait11 
                            + row.Trait12 + row.Trait13 + row.Trait14 + row.Trait15 
                            + row.Trait16 + row.Trait17 + row.Trait18 + row.Trait19 
                            , axis = 1)

In [106]:
collection_data_df = df[['name', 'id', 'token_id', 'num_sales', 'background_color',]].copy()

In [107]:
collection_data_df = pd.concat([collection_data_df, collection_name, total_price, total_traits], axis = 1)
collection_data_df.columns = ['Asset Name', 'Asset ID', 'Token ID', 'Number of Sales', 'Background Color', 'Collection Name', 'Last Sale Price (ETH)', 'Total Traits']

In [108]:
collection_data_df

       Asset Name  Asset ID  ... Last Sale Price (ETH)  Total Traits
0       0N1 #6911  38109417  ...                 1.740            13
1       0N1 #3338  38105661  ...                 2.750            13
2       0N1 #2181  38104277  ...                 2.200            13
3       0N1 #1601  37768360  ...                 2.250            13
4       0N1 #2734  38104898  ...                 7.400            13
..            ...       ...  ...                   ...           ...
46   Miss Thought   3409840  ...                 1.000             6
47  Sussex Muster   3404105  ...                 0.333             6
48      Pyro Hero   3307434  ...                 0.450             6
49        Tornado  14462054  ...                 0.190             6
0              #4  60149140  ...                 0.070             6

[2915 rows x 8 columns]

In [109]:
collection_data_df.dtypes

Asset Name                object
Asset ID                   int64
Token ID                  object
Number of Sales            int64
Background Color          object
Collection Name           object
Last Sale Price (ETH)    float64
Total Traits               int64
dtype: object

In [110]:
collection_data_df["Background Color"].value_counts()

000000    52
6B80D9     7
262626     6
           4
6972BE     3
7F82CA     3
717AC3     3
3A65AD     3
8AD9E9     3
7463E2     2
887FCA     2
6F7DCF     2
5CC5BA     2
7FA0CA     2
4350B9     1
5144AD     1
AC8AE9     1
A26BD9     1
FF8A98     1
5551C5     1
5683D1     1
8A73DB     1
4053B4     1
6BABD9     1
Name: Background Color, dtype: int64

In [111]:
collection_data_df["Collection Name"].value_counts()

Wicked Ape Bone Club          50
Zed Run                       50
CryptoDickbutts OG            50
Dirtybird Flight Club         50
KLEEE02                       50
                              ..
The Meta Key                   4
Bored Ape Chemistry Club       3
Non Fungible Fungi Genesis     2
ZombieToadz                    1
Galaxy Eggs - old              1
Name: Collection Name, Length: 67, dtype: int64

In [112]:
collection_data_df

       Asset Name  Asset ID  ... Last Sale Price (ETH)  Total Traits
0       0N1 #6911  38109417  ...                 1.740            13
1       0N1 #3338  38105661  ...                 2.750            13
2       0N1 #2181  38104277  ...                 2.200            13
3       0N1 #1601  37768360  ...                 2.250            13
4       0N1 #2734  38104898  ...                 7.400            13
..            ...       ...  ...                   ...           ...
46   Miss Thought   3409840  ...                 1.000             6
47  Sussex Muster   3404105  ...                 0.333             6
48      Pyro Hero   3307434  ...                 0.450             6
49        Tornado  14462054  ...                 0.190             6
0              #4  60149140  ...                 0.070             6

[2915 rows x 8 columns]