<a href="https://colab.research.google.com/github/RJGiannini/nft-project-group8/blob/main/collection_data10_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import requests
import json
from pprint import pprint

In [2]:
# Upload collections_list.xlsx to Colab
from google.colab import files

csv_file = files.upload()

Saving collections_list.xlsx to collections_list (1).xlsx

In [3]:
# Read the collections_list.xlsx file from the Resources folder into a Pandas DataFrame
collections_df = pd.read_excel("collections_list.xlsx")

# Review the DataFrame
#collections_df

In [4]:
#collection_list
collection_list = [x for x in collections_df['Name']]

In [5]:
#collection_list_two
collection_list_two = []
for i in collection_list:
  collection_list_two.append(i.replace(" ", "-"))

In [6]:
#collection_list_three
collection_list_three = []
for i in collection_list_two:
  collection_list_three.append(i.lower())

In [7]:
df = pd.DataFrame()
for collection in collection_list_three:
  
  url = "https://api.opensea.io/api/v1/assets?order_by=sale_count&order_direction=desc&offset=0&limit=50&collection=" + collection

  JSONContent = requests.get(url).json()

  content = json.dumps(JSONContent, indent = 2, sort_keys=True)

  JSONContent.keys()

  #assets = JSONContent["assets"]

  df = df.append(JSONContent["assets"])

In [36]:
#df

In [9]:
collection_df = df['collection'].apply(pd.Series)
#collection_df

In [10]:
collection_name = collection_df["name"].apply(pd.Series)
collection_name.columns = ['Collection Name']
#collection_name

In [11]:
last_sale_df = df['last_sale'].apply(pd.Series)
#last_sale_df

In [12]:
total_price = last_sale_df['total_price'].apply(pd.Series)
total_price.columns = ['Last Sale Price ETH']
total_price = total_price.astype(float)* 0.000000000000000001
#total_price

In [13]:
#payment_token_df = last_sale_df['payment_token'].apply(pd.Series)
#payment_token_df

In [14]:
#decimals = payment_token_df['decimals'].apply(pd.Series)
#decimals.columns = ['Decimal Scale']
#decimals

In [15]:
#eth_price = payment_token_df['eth_price'].apply(pd.Series)
#eth_price.columns = ['USD TO ETH']
#eth_price = eth_price.astype(float)

In [16]:
#usd_price = payment_token_df['usd_price'].apply(pd.Series)
#usd_price.columns = ['ETH TO USD']
#usd_price = usd_price.astype(float)

In [34]:
background_color = df['background_color']
background_color

0     None
1     None
2     None
3     None
4     None
      ...
46    None
47    None
48    None
49    None
0     None
Name: background_color, Length: 2915, dtype: object

In [48]:
traits = df['traits'].apply(pd.Series)
traits.columns = ['Trait1', 'Trait2', 'Trait3', 'Trait4',
                  'Trait5', 'Trait6', 'Trait7', 'Trait8',
                  'Trait9', 'Trait10', 'Trait11', 'Trait12',
                  'Trait13', 'Trait14', 'Trait15', 'Trait16',
                  'Trait17', 'Trait18', 'Trait19']
#traits

In [49]:
collection_data_df = df[['name', 'id', 'token_id', 'num_sales', 'background_color']].copy()
collection_data_df.columns = ['Asset Name', 'Asset ID', 'Token ID', 'Number of Sales', 'Background Color']

In [50]:
#collection_data_df = pd.concat([collection_data_df, collection_name, total_price, eth_price, usd_price], axis = 1)
collection_data_df = pd.concat([collection_data_df, collection_name, total_price, traits], axis = 1)

In [51]:
collection_data_df

       Asset Name  Asset ID Token ID  ...  Trait17 Trait18 Trait19
0       0N1 #6911  38109417     6911  ...      NaN     NaN     NaN
1       0N1 #3338  38105661     3338  ...      NaN     NaN     NaN
2       0N1 #1601  37768360     1601  ...      NaN     NaN     NaN
3       0N1 #2181  38104277     2181  ...      NaN     NaN     NaN
4       0N1 #4796  38107072     4796  ...      NaN     NaN     NaN
..            ...       ...      ...  ...      ...     ...     ...
46   Miss Thought   3409840     1910  ...      NaN     NaN     NaN
47  Sussex Muster   3404105     1886  ...      NaN     NaN     NaN
48      Pyro Hero   3307434     1394  ...      NaN     NaN     NaN
49        Tornado  14462054     5256  ...      NaN     NaN     NaN
0              #4  60149140        4  ...      NaN     NaN     NaN

[2915 rows x 26 columns]

In [52]:
collection_data_df.dtypes

Asset Name              object
Asset ID                 int64
Token ID                object
Number of Sales          int64
Background Color        object
Collection Name         object
Last Sale Price ETH    float64
Trait1                  object
Trait2                  object
Trait3                  object
Trait4                  object
Trait5                  object
Trait6                  object
Trait7                  object
Trait8                  object
Trait9                  object
Trait10                 object
Trait11                 object
Trait12                 object
Trait13                 object
Trait14                 object
Trait15                 object
Trait16                 object
Trait17                 object
Trait18                 object
Trait19                 object
dtype: object

In [54]:
collection_data_df["Background Color"].value_counts()

000000    52
6B80D9     6
262626     6
8AD9E9     4
           4
6972BE     4
7F82CA     3
717AC3     3
3A65AD     3
5CC5BA     2
6F7DCF     2
887FCA     2
7463E2     2
7FA0CA     2
4350B9     1
AC8AE9     1
5144AD     1
FF8A98     1
4053B4     1
A26BD9     1
5551C5     1
6BABD9     1
5683D1     1
Name: Background Color, dtype: int64

In [55]:
collection_data_df

       Asset Name  Asset ID Token ID  ...  Trait17 Trait18 Trait19
0       0N1 #6911  38109417     6911  ...      NaN     NaN     NaN
1       0N1 #3338  38105661     3338  ...      NaN     NaN     NaN
2       0N1 #1601  37768360     1601  ...      NaN     NaN     NaN
3       0N1 #2181  38104277     2181  ...      NaN     NaN     NaN
4       0N1 #4796  38107072     4796  ...      NaN     NaN     NaN
..            ...       ...      ...  ...      ...     ...     ...
46   Miss Thought   3409840     1910  ...      NaN     NaN     NaN
47  Sussex Muster   3404105     1886  ...      NaN     NaN     NaN
48      Pyro Hero   3307434     1394  ...      NaN     NaN     NaN
49        Tornado  14462054     5256  ...      NaN     NaN     NaN
0              #4  60149140        4  ...      NaN     NaN     NaN

[2915 rows x 26 columns]

In [58]:
collection_data_df['Trait1'].isnull().sum().sum()

514

In [59]:
collection_data_df['Trait2'].isnull().sum().sum()

623

In [60]:
collection_data_df['Trait3'].isnull().sum().sum()

663

In [61]:
collection_data_df['Trait4'].isnull().sum().sum()

784

In [65]:
collection_data_df['Trait19'].isnull().sum().sum()

2914